.header {
  background: radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  min-height: 900px;
}

.header__wrapper {
    min-height: 900px;
  background:linear-gradient(119.34deg, #17242D 0%, rgba(15, 24, 30, 0) 100%), url("../img/header.png") no-repeat;
  background-position: bottom right;
}

.header__page-title {
  font-family: $font;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 67px;
color: #E4ECF1;
  padding-left: 5px;
  margin-top: 13px;
}

.header__content {
  margin-top: 120px;
}

.header__item-title {
  font-size: 50px;
line-height: 68px;
font-weight: 800;
color:#E4ECF1;
margin-bottom: 30px;
      padding-right: 20px;
}

.header__item-text {
  font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #C5D2DA;
      padding-right: 20px;

}

.header__list {
padding: 0;
margin: 0;
list-style: none;
display: flex;

}

.header__item-picture {
  margin-top: -270px;
  display: none;
}



.header__item-link {
  position: absolute;
  bottom: 80px;
  height: 40px;
  display: flex;
  text-decoration: none;

  & span {
    font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-decoration: none;
padding-left: 17px;
margin-top: 16px;

color: #FFFFFF;
}
& svg {

}
}

.header__item {
  width: 34%;
  padding-top: 40px;
  padding-left: 60px;
  position: relative;
  height: 730px;
  border-left: 1px solid rgba(196, 196, 196, 0.1);
  border-right: 1px solid rgba(196, 196, 196, 0.1);

  &:hover {
    background: $white;
    transition: 0.2s;

    .header__item-picture {
      display: block;
          transition: 0.2s;
    }

    .header__item-title {
      color: #1E2C3B;
          transition: 0.2s;
    }
    .header__item-text {
      color: #1E2C3B;
          transition: 0.2s;
    }
    .header__item-link span {
      color: #000000;
      font-weight: 700;
          transition: 0.2s;
    }

    .header__item-link svg circle {
      fill: #38AAF6;
          transition: 0.2s;
    }
  }

}
.header__item-picture {
  img {

    width: 100%;

  }
}

@media (max-width: 1700px) {
  .header__item-title {
    font-size: 40px;
  line-height: 120%;
  }

  .header__item-picture {
    img {

      width: 100%;

    }
  }
}

@media (max-width: 1400px) {
  .header__item-title {
    font-size: 30px;
  line-height: 120%;
  }
}
@media (max-width: 1200px) {
  .header__wrapper {
    padding: 0 27px;
  }

  .header__item {
    padding-left: 20px;
  }
  .header__item-title {
    font-size: 25px;
  line-height: 120%;
      padding-right: 20px;
  }

  .header__item-text {
        padding-right: 20px;
  }
}

@include tablet {
  .header__list {
    flex-direction: column;
  }
  .header__item {
    width: 100%;
    min-height: 290px;
    height: 100%;
    padding-bottom: 40px;
    border: none;

    &:hover {
      .header__item-picture {
        display: none;
      }
    }
  }

  .header__item-link {
    bottom: 0;
    position: relative;
  }

  .header__content {
    margin-top: 40px;
    padding-bottom: 50px;
  }
}
