.header {
  background: radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  min-height: 900px;
}

.header__container--filter {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.header__wrapper {
  //max-width: 1254px;
  //padding: 0;
  margin: 0 auto;
    min-height: 900px;
  background:linear-gradient(119.34deg, #17242D 0%, rgba(15, 24, 30, 0) 100%), url("../img/bg.png") no-repeat;
  background-position: bottom right;
}

.header__page-title {
  font-family: $font;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 67px;
color: #E4ECF1;
  padding-left: 5px;
  margin-top: 13px;
}

.header__content {
  margin-top: 120px;
}

.header__item-title {
  font-size: 50px;
line-height: 68px;
font-weight: 800;
color:#E4ECF1;
margin-bottom: 30px;
      padding-right: 20px;
}

.header__item-text {
  font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #C5D2DA;
      padding-right: 20px;

}

.header__list {
padding: 0;
margin: 0;
list-style: none;
display: flex;

}

.header__item-picture {
  margin-top: -270px;
  display: none;
}



.header__item-link {
  position: absolute;
  bottom: 80px;
  height: 40px;
  display: flex;
  text-decoration: none;

  & span {
    font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-decoration: none;
padding-left: 17px;
margin-top: 16px;

color: #FFFFFF;
}
& svg {

}
}

.header__item {
  width: 34%;
  padding-top: 40px;
  padding-left: 60px;
  position: relative;
  height: 730px;
  border-left: 1px solid rgba(196, 196, 196, 0.1);
  border-right: 1px solid rgba(196, 196, 196, 0.1);

  &:hover {
    background: $white;
    transition: 0.2s;

    .header__item-picture {
      display: block;
          transition: 0.2s;
    }

    .header__item-title {
      color: #1E2C3B;
          transition: 0.2s;
    }
    .header__item-text {
      color: #1E2C3B;
          transition: 0.2s;
    }
    .header__item-link span {
      color: #000000;
      font-weight: 700;
          transition: 0.2s;
    }

    .header__item-link svg circle {
      fill: #38AAF6;
          transition: 0.2s;
    }
  }

}
.header__item-picture {
  img {

    width: 100%;

  }
}

@media (max-width: 1700px) {
  .header__item-title {
    font-size: 40px;
  line-height: 120%;
  }

  .header__item-picture {
    img {

      width: 100%;

    }
  }
}

@media (max-width: 1400px) {
  .header__item-title {
    font-size: 30px;
  line-height: 120%;
  }
}
@media (max-width: 1200px) {
  .header__wrapper {
    padding: 0 27px;
  }

  .header__item {
    padding-left: 20px;
  }
  .header__item-title {
    font-size: 25px;
  line-height: 120%;
      padding-right: 20px;
  }

  .header__item-text {
        padding-right: 20px;
  }
}

@include tablet {
  .header__list {
    flex-direction: column;
  }
  .header__item {
    width: 100%;
    min-height: 290px;
    height: 100%;
    padding-bottom: 40px;
    border: none;

    &:hover {
      .header__item-picture {
        display: none;
      }
    }
  }

  .header__item-link {
    bottom: 0;
    position: relative;
  }

  .header__content {
    margin-top: 40px;
    padding-bottom: 50px;
  }
}


// landing

.header__block {
  display: flex;
}

.header__description {
  max-width: 690px;
  color: $light-grey;
  margin-right: 130px;
  font-size: 18px;
  line-height: 28px;
  margin-top: -25px;
  padding-left: 5px;
}

.header__sublist-title {
  color: #DDE7ED;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  margin-top: 8px;
  max-width: 260px;
  margin-bottom: 15px
}

.header__right-wrapper ul a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #78838A;
  transition: 0.2s;

  &:hover {
    color: white;
    transition: 0.2s;
    //font-weight: 700;
  }
}

.header__right-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__right-wrapper {
  margin-top: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 30px;
  padding-bottom: 10px;
  margin-left: auto;
}

.header__right-wrapper li {
  margin-bottom: 7px;
}

.header__wrapper--instrument {
  min-height: auto;
  padding-bottom: 25px;
}

.header--instrument {
  min-height: auto;

}

@media (max-width: 960px) {
  .header__block {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .header__description {
    margin-right: 0;
    max-width: 100%;
  }

  .header__right-wrapper {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
    max-width: 100%;
  }

  .header__sublist-title {
    max-width: 100%;
  }
}

//service
.header__scroll-block {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  cursor: pointer;
}

.header__scroll-link span {
  color: #46535D;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  transform: rotate(-90deg) translateX(-50%) translateY(-20px);
}

.header__scroll-image {
  position: absolute;
  left: 90px;
  bottom: 12px;
}
.header__back-link {
  display: inline-block;
  margin-top: 117px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  padding-left: 35px;

  color: #DFE6EA;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $blue;
    width: 135px;
    bottom: -5px;
    right: 0;

  }
  &::before {
    content: "";
    position: absolute;
    height: 16px;
    background: url("../img/header-arrow.svg") no-repeat 0 0;
    width: 22px;
    top: 7px;
    left: 0;

  }

  &:hover {
    color: white;
  }
}

.header--service {
  min-height: 100vh;

  & .header__wrapper {
    min-height: 100vh;
    padding-bottom: 240px;
    position: relative;
    background: url("../img/bg.png") no-repeat 83% 92%;
    background-size: 100%;
  }
  .header__container {
        max-width: 1200px;
      margin: 0 auto;

  }
}

.header__center-wrapper {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;

  & .header__page-title {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #DFE6EA;
    margin-bottom: 30px;
  }

  & .header__description {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #DFE6EA;
    max-width: 792px;
    margin: 0 auto;
  }

}

@media (max-width: 960px) {
  .header__page-title {

    font-size: 30px;
    line-height: 120%;
  }
  .header__center-wrapper {

    & .header__page-title {
      text-align: center;
      font-size: 30px;
      line-height: 120%;
    }

  }
}

@media (max-width: 768px) {
  .header__center-wrapper {

    & .header__page-title {
      text-align: center;
      font-size: 30px;
      line-height: 120%;
    }

  }

  .header__scroll-block  {
    bottom: 30px;
  }

  .header__back-link {
    margin-top: 80px;
  }
}

@media (max-width: 590px) {
  .header--service {
    min-height: auto;
  }
  .header--service .header__wrapper {
    min-height: auto;
  }
  .header__scroll-block  {
    display: none;
  }

  .header__back-link {
    margin-top: 50px;
  }

  .header--service {

    & .header__wrapper {
      padding-bottom: 40px;
    }
  }
}
