.materials__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.materials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.materials li {
    margin: 2px 4px;
}

.materials__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #414141;
    margin-bottom: 18px;
}

@media (max-width: 390px) {
    .materials ul {
        justify-content: center;
    }
}

@media (max-width: 960px) {
    .materials__wrapper {
        padding: 0 25px;
    }
    
    .materials__title {
        font-size: 25px;
        line-height: 120%;
    }
    
}