.page-contacts {
  .header__wrapper {
    min-height: 710px;
    background: url("../img/bg.png") no-repeat 83% 92%;
    background-size: 100%;
    mix-blend-mode: lighten;

  }
  .header {
    min-height: 710px;
  }
  .header__container {
        max-width: 1200px;
      margin: 0 auto;

  }
}
