.page-contacts {
  .header__wrapper {
    min-height: 710px;
    background: url("../img/header-news.png") no-repeat 100% 100%;
    mix-blend-mode: lighten;
    max-width: 1200px;
  }
  .header {
    min-height: 710px;
  }
}
