.page-landing {
  .header__wrapper {
    min-height: 602px;
    background: url("../img/bg.png") no-repeat 83% 62%;
    background-size: 100%;

  }
  .header {
    min-height: 602px;

  }

  .header__container {
        max-width: 1200px;
      margin: 0 auto;

  }
}
