.parameters {
    width: 100%;
    max-width: 1200px;
    padding: 10px 50px 30px 50px;
    margin: 0 auto;
}

.parameters__table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    & tbody tr:nth-child(2n+1) {
        border-radius: 2px;
        background: #F4F4F4;
    }

    & tbody tr:hover {
        background: $blue;

        & td {
            color: white;

            &::before {
              color: white;
            }
        }
    }
}

.parameters__caption {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #B9B9B9;
    
    & span {
        display: block;
    }

    & span:first-child {
        border-bottom: 1px solid #B9B9B9;
    }
}

.parameters__value {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #414141;
    text-align: center;
    width: 105px;
    padding: 15px 20px;
}

.parameters__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #414141;
}

@media (max-width: 960px) {
    .parameters__title {
      font-size: 25px;
      line-height: 120%;
    }
    .parameters {
        padding: 10px 25px 30px 25px;
    }

    .parameters__table {
      border: 0;
    }

    .parameters__table thead {
      display: none;
    }

    .parameters__table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    .parameters__table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    .parameters__table td:last-child {
      border-bottom: 0;
    }

    .parameters__table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #B9B9B9;
    }

    .parameters__table .parameters__value--first:after {
      content: "";
        position: absolute;
        right: 20px;
        top: 23px;
        background: url("../img/filter-arrow.svg") no-repeat 0 0;
        width: 12px;
        height: 8px;
    }

    .parameters__value {
        width: 100%;
        padding-right: 50px;
        position: relative;
    }

    .parameters__table .parameters__value {
      display: none;
    }

    .parameters__table .parameters__value--first {
      display: block;
    }

    .parameters__table .hidden {
      display: block;
    }
  }