.prices {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    color: $black;
    margin-bottom: 100px;
}



.prices__wrapper {
    padding: 50px 20px;
    background-color: #F0F0F0;
    max-width: 1200px;
}

.prices__title {
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
    color: #404040;
    margin-top: 11px;
    padding-left: 10px;
}

.prices ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.prices__card {
    display: flex;
    flex-direction: column;
    margin-right: 9px;
    margin-bottom: 10px;
    max-width: 213px;
}

.prices__card p {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A;
    margin-bottom: 10px;
}

.prices li {
  width:220px;
}

.prices__swiper {
    margin-top: -100px;
    padding-top: 100px;
}

.prices__next-button,
.prices__prev-button {
    width: 50px;
    height: 50px;
    border: 2px solid $blue;
    box-sizing: border-box;
    border-radius: 50%;
    top: 50px;
    right: 0;
    left: auto;

    &::after {
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
        color: $blue;
    }

    &:hover {
        border-color: $blue;
        background: $blue;

        &::after {
            color: white;
        }
    }

}

.prices__prev-button {
    right: 65px;
}

.prices__card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding-left: 27px;
    position: relative;
    color: #6C6C6C;

    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 20px;
        top: 5px;
        left: 1px;
        background: url('../img/download-icon.svg') no-repeat 0 0;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 27px;
        height: 1px;
        width: 121px;
        background-color: $blue;
    }
}

.prices .swiper-slide{
    display: flex;
    justify-content: center;

}

.prices--card {
    padding: 0 50px;
    padding-bottom: 0;
    margin-bottom: 55px;
    & .prices__wrapper {
        max-width: 1100px;
        padding: 30px 0;
        padding-top: 0;
        margin: 0 auto;
        background: none;
    }

    & .prices__next-button {
          border-color: #F0F0F0;
      }

    & .prices__prev-button  {
        border-color: #F0F0F0;
    }

    & .prices__title {
        padding: 0;
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
        color: #404040;
        padding-top: 5px;
        margin-bottom: 30px;
    }
}

@media (max-width: 990px) {
    .prices--card {
        padding: 0 25px;

        & .prices__title {
            font-size: 25px;
            line-height: 120%;
        }
    }
}

@media (max-width: 660px) {
    .prices__next-button,
    .prices__prev-button {
        top: 60px;
        width: 30px;
        height: 30px;

        &::after {
            font-size: 15px;
            line-height: 15px;
        }
    }

    .prices__prev-button {
        right: 40px;
    }
}

@media (max-width: 450px) {
    .prices__title {
        max-width: 250px;
    }
}