.product {
    // position: relative;
    margin-top: -410px;
    // z-index: 10000000;
}

.product__wrapper {
    background-color: white;
    padding: 50px 50px 30px 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.product__name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
    color: #414141;
}

.product__fullname {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #414141;
    margin-top: 0;
    margin-bottom: 40px;
}

.product__caption {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #414141;
    margin-bottom: 0;
}

.product__description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #414141;
}

.product__image-block {
    position: relative;
    width: 100%;
    max-width: 410px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
}

.product__loupe {
    position: absolute;
    top: 10px;
    left: 5px;
    background: transparent;
    border: none;
    box-shadow: none;
}

.product__image-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.product__info {
    margin-left: auto;
    max-width: 540px;

}

.product__image-item {
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    margin-bottom: 5px;
}

.product__image-item--active {
    border-color: $blue;
}

@media (max-width: 960px) {

    .product__name {
        font-size: 35px;
        line-height: 120%;
    }
    .product__wrapper {
        //flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 50px 25px 30px 25px;
    }

    .product__info {
        order: -1;
        width: 100%;
        max-width: 100%;
    }

    .product__caption {
        font-size: 25px;
        line-height: 120%;
    }
}

@media (max-width: 590px) {
    .product__image-list {
        display: flex;
        margin-left: 0;
        margin-top: 20px;
    }

    .product__image-item {
        margin-right: 5px;
    }

    .product__image {
        width: 100%;
        height: auto
    }
}