.service {}

.service__wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 80px;
max-width: 1254px;
margin: 0 auto;
}

.service__title {
  font-family: $font;
  font-size: 70px;
  line-height: 80px;
  color: #2F2F2F;
  font-weight: 900;
  margin-right: 7%;
}
.service__info {
  display: none;
  width: 380px;
  position: absolute;
  top: -2px;
  left: 122%;
}

.service__link {
  font-family: $font;
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  color: #464646;
  border-bottom: 1px solid rgba(56, 170, 246, 0.3);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 0.7;
    transition: 0.2s;
    color: #38AAF6;
    border-bottom: none;
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: -50px;
      width: 39px;
      height: 39px;
      background: url("../img/drill-icon.svg") no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 98%;
      width: 70px;
      height: 1px;
      background: #C4C4C4;
    }

    & + .service__info {
      display: block;
    }
  }
}

.service__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 80px;
  width: 48%;
}



.service__info-title {
  font-family: $font;
line-height: 22px;
font-weight: 400;
color: #555555;
padding-left: 27px;
position: relative;

&::before {
  content: "";
  width: 23px;
  height: 23px;
  background: url("../img/info-icon.svg") no-repeat;
  position: absolute;
  left: -5px;
}
}

.service__info-text {
  font-family: $font;
  font-size: 16px;
line-height: 24px;
color: #7A7A7A;
margin-top: 10px;
}


.service__item {
  margin-bottom: 22px;
  position: relative;
}

@media (max-width: 1400px) {
  .service__wrapper {
    flex-direction: column;
    padding-bottom: 110px;
  }

  .service__list {
    margin-top: 0;
  }
}

@include tablet {
  .service__wrapper {
    flex-direction: column;
    padding-left: 10%;
    padding-bottom: 140px;
  }

  .service__list {
    margin-top: 0;
  }

  .service__title {
    font-size: 40px;
    line-height: 114%;
  }
  .service__info {
    width: 300px;
  }
}

@include mobile {

  .service__wrapper  {
    padding-bottom: 50px;
  }
  .service__info {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
  }

  .service__list {
    width: 100%;
  }

  .service__link {
    &::before {
display: none;
    }
    &::after {
      display: none;
    }
  }

  .service__item {
    &--active {
      &::before {
        width: 0;
        height: 0;
      }
      .service__info {
        display: block;
        position: relative;
        top: 0;
        left: 0;
      }
    }
}
}
