.types__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 50px 30px  50px;
}

.types ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.types__card {
    width: 100%;
    max-width: 269px;
    min-width: 269px;
    min-height: 138px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    margin: 3px;
}

.types__card p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #414141;
    margin-top: 30px;
}

.types__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #414141;
}

@media (max-width: 960px) {
    .types__wrapper {
        padding: 35px 25px 30px  25px;
    }

    .types__title {
        font-size: 25px;
        line-height: 120%;
    }
}

@media (max-width: 350px) {
    .types__card {
        min-width: 200px;
    }
}