.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  &--no-padding {
    padding: 0;
  }
}

@include laptop {
  .wrapper {
    padding-left: 27px;
    padding-right: 27px;
    //max-width: 1200px;
  }
}


@include tablet {
  .wrapper {
    padding: 0 27px;
    //max-width: 1200px;
  }
}
